Repository swsnu/swpp2021-team4, pull requests merged in 2021-11, with the labels that each got.

#34 Feat/33
  .gitignore
  .travis.yml
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/index.tsx
  frontend/src/react-app-env.d.ts
  frontend/tsconfig.json
  frontend/yarn.lock
  yarn.lock
Labels: enhancement

#36 Signup API #4
  backend/account/migrations/0005_user_updated_at.py
  backend/account/models.py
  backend/account/tests.py
  backend/account/urls.py
  backend/account/views.py
  backend/test_img.jpeg
  backend/tripick/urls.py
Labels: enhancement

#37 Feature/signin resolves #5
  backend/account/migrations/0006_alter_user_email.py
  backend/account/models.py
  backend/account/tests.py
  backend/account/urls.py
  backend/account/views.py
  backend/tripick/settings.py
Labels: enhancement

#39 Feat/33
  frontend/package-lock.json
  frontend/src/App.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/components/PostItem.tsx
  frontend/src/components/SearchInfo.tsx
  frontend/src/containers/CreateEditPost.tsx
  frontend/src/containers/EditProfile.tsx
  frontend/src/containers/PostDetail.tsx
  frontend/src/containers/SIgnup.tsx
  frontend/src/containers/Search.tsx
  frontend/src/containers/SearchResultList.tsx
  frontend/src/containers/Signin.tsx
  frontend/src/containers/UserInfo.tsx
  frontend/src/index.tsx
  frontend/src/pages/CreateEditPostPage.tsx
  frontend/src/pages/EditProfilePage.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/PostDetailPage.tsx
  frontend/src/pages/SigninPage.tsx
  frontend/src/pages/SignupPage.tsx
  frontend/src/pages/UserInfoPage.tsx
  frontend/yarn.lock
Labels: enhancement, help wanted

#38 feature/redux setting resolves #35
  backend/account/migrations/0005_user_updated_at.py
  backend/account/migrations/0006_alter_user_email.py
  backend/account/models.py
  backend/account/tests.py
  backend/account/urls.py
  backend/account/views.py
  backend/test_img.jpeg
  backend/tripick/settings.py
  backend/tripick/urls.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/axios.ts
  frontend/src/api/userApi.ts
  frontend/src/components/Footer.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/components/PostItem.tsx
  frontend/src/components/SearchInfo.tsx
  frontend/src/containers/CreateEditPost.tsx
  frontend/src/containers/EditProfile.tsx
  frontend/src/containers/PostDetail.tsx
  frontend/src/containers/SIgnup.tsx
  frontend/src/containers/Search.tsx
  frontend/src/containers/SearchResultList.tsx
  frontend/src/containers/Signin.tsx
  frontend/src/containers/UserInfo.tsx
  frontend/src/index.tsx
  frontend/src/pages/CreateEditPostPage.tsx
  frontend/src/pages/EditProfilePage.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/PostDetailPage.tsx
  frontend/src/pages/SigninPage.tsx
  frontend/src/pages/SignupPage.tsx
  frontend/src/pages/UserInfoPage.tsx
  frontend/src/store/Post/postAction.ts
  frontend/src/store/Post/postInterfaces.ts
  frontend/src/store/Post/postReducer.ts
  frontend/src/store/User/userAction.ts
  frontend/src/store/User/userInterfaces.ts
  frontend/src/store/User/userReducer.ts
  frontend/src/store/actionTypes.ts
  frontend/src/store/store.ts
  frontend/yarn.lock
Labels: enhancement

#57 Feature/edit profile resolves #27
  backend/account/forms.py
  backend/account/tests.py
  backend/account/urls.py
  backend/account/views.py
  backend/requirements.txt
Labels: enhancement, backend

#58 implement image upload views
  backend/grape.jpg
  backend/requirements.txt
  backend/route/forms.py
  backend/route/migrations/0003_alter_post_table.py
  backend/route/migrations/0004_alter_post_table.py
  backend/route/migrations/0005_alter_post_table.py
  backend/route/models.py
  backend/route/tests.py
  backend/route/urls.py
  backend/route/views.py
  backend/tripick/settings.py
Labels: backend

#59 Feat/get user info resolves #26
  backend/account/tests.py
  backend/account/urls.py
  backend/account/views.py
  backend/route/admin.py
Labels: enhancement, backend

#64 Feat/edit profile front
  backend/account/forms.py
  backend/account/views.py
  frontend/src/containers/EditProfile.tsx
  frontend/src/store/User/userAction.ts
  frontend/src/store/User/userInterfaces.ts
  frontend/src/store/User/userReducer.ts
  frontend/src/store/actionTypes.ts
Labels: enhancement, frontend, backend

#68 feat: add PostDetailPage
  backend/account/migrations/0005_auto_20211109_0608.py
  backend/account/migrations/0006_alter_user_email.py
  backend/route/migrations/0001_initial.py
  backend/route/views.py
  frontend/src/App.tsx
  frontend/src/containers/PostDetail.tsx
  frontend/src/hooks/usePostState.tsx
  frontend/src/index.tsx
  frontend/src/static/post_info_border.svg
  frontend/src/store/Post/postAction.ts
  frontend/src/store/Post/postInterfaces.ts
  frontend/src/store/Post/postReducer.ts
  frontend/src/store/User/userReducer.ts
  frontend/src/styles/PostDetail.css
  frontend/src/styles/PostDetail.css.map
  frontend/src/styles/PostDetail.scss
  frontend/src/useUserState.tsx
Labels: frontend, backend

#71 Modify route/views and create PlaceInFolder, PostInFolder models
  backend/requirements.txt
  backend/route/forms.py
  backend/route/migrations/0005_auto_20211110_1654.py
  backend/route/models.py
  backend/route/tests.py
  backend/route/urls.py
  backend/route/views.py
  backend/tripick/settings.py
  frontend/package-lock.json
  frontend/yarn.lock
Labels: enhancement, backend

#72 Show PostItems on main page
  backend/route/tests.py
  backend/route/views.py
  frontend/src/components/PostItem.tsx
  frontend/src/containers/SearchResultList.tsx
  frontend/src/hooks/usePostState.tsx
  frontend/src/hooks/usePostsState.tsx
  frontend/src/store/Post/postAction.ts
  frontend/src/store/Post/postInterfaces.ts
  frontend/src/store/Post/postReducer.ts
  frontend/src/store/actionTypes.ts
Labels: enhancement, frontend, backend

#74 feat:8 PostDetailPage and add Place component
  .gitignore
  frontend/package-lock.json
  frontend/src/App.tsx
  frontend/src/Variables/Variable.scss
  frontend/src/components/Place.tsx
  frontend/src/containers/EditProfile.tsx
  frontend/src/containers/PostDetail.tsx
  frontend/src/static/cart-icon.svg
  frontend/src/store/User/userAction.ts
  frontend/src/styles/PostDetail.css
  frontend/src/styles/PostDetail.css.map
  frontend/src/styles/PostDetail.scss
  frontend/src/styles/components/Place.css
  frontend/src/styles/components/Place.css.map
  frontend/src/styles/components/Place.scss
  frontend/src/styles/components/Userinfo.css
  frontend/src/styles/components/Userinfo.css.map
  frontend/src/styles/components/Userinfo.scss
  frontend/yarn.lock
Labels: enhancement, frontend

#94 Feat/save place order
  backend/account/tests.py
  backend/route/forms.py
  backend/route/migrations/0006_place_index.py
  backend/route/models.py
  backend/route/tests.py
  backend/route/views.py
  frontend/src/containers/PostDetail.tsx
Labels: enhancement, backend

#95 Add post_share on backend API and test code
  backend/route/tests.py
  backend/route/urls.py
  backend/route/views.py
Labels: enhancement, backend, test

#98 style: delete Variable.css and refactor style codes
  frontend/src/App.tsx
  frontend/src/Variables/Variable.css
  frontend/src/Variables/Variable.css.map
  frontend/src/Variables/Variable.scss
  frontend/src/Variables/Variables.scss
  frontend/src/components/CreateEditPost.css
  frontend/src/components/Place.tsx
  frontend/src/components/PostItem.tsx
  frontend/src/containers/PostDetail.tsx
  frontend/src/store/User/userAction.ts
  frontend/src/styles/CreateEditPost.css
  frontend/src/styles/PostDetail.css.map
  frontend/src/styles/components/CreateEditHeader.css
  frontend/src/styles/components/CreateEditHeader.css.map
  frontend/src/styles/components/CreateEditHeader.scss
  frontend/src/styles/components/CreateEditPost.css
  frontend/src/styles/components/CreateEditPost.css.map
  frontend/src/styles/components/CreateEditPost.scss
  frontend/src/styles/components/EditProfile.css
  frontend/src/styles/components/EditProfile.css.map
  frontend/src/styles/components/EditProfile.scss
  frontend/src/styles/components/Map.css
  frontend/src/styles/components/Map.css.map
  frontend/src/styles/components/Map.scss
  frontend/src/styles/components/MyRoutesSection.css
  frontend/src/styles/components/MyRoutesSection.css.map
  frontend/src/styles/components/MyRoutesSection.scss
  frontend/src/styles/components/NavBar.css
  frontend/src/styles/components/NavBar.css.map
  frontend/src/styles/components/NavBar.scss
  frontend/src/styles/components/Place.css
  frontend/src/styles/components/Place.css.map
  frontend/src/styles/components/Place.scss
  frontend/src/styles/components/PlaceSearchSection.css
  frontend/src/styles/components/PlaceSearchSection.css.map
  frontend/src/styles/components/PlaceSearchSection.scss
  frontend/src/styles/components/PostDetail.css
  frontend/src/styles/components/PostDetail.css.map
  frontend/src/styles/components/PostDetail.scss
  frontend/src/styles/components/PostItem.css
  frontend/src/styles/components/PostItem.css.map
  frontend/src/styles/components/PostItem.scss
  frontend/src/styles/components/Signin.css
  frontend/src/styles/components/Signin.css.map
  frontend/src/styles/components/Signin.scss
  frontend/src/styles/components/Signup.css
  frontend/src/styles/components/Signup.css.map
  frontend/src/styles/components/Signup.scss
  frontend/src/styles/components/Userinfo.css
  frontend/src/styles/components/Userinfo.css.map
  frontend/src/styles/components/Userinfo.scss
Labels: frontend

#101 Feat/auto signin after signup resolves #99
  frontend/src/containers/Signin.tsx
  frontend/src/containers/Signup.tsx
  frontend/src/pages/SignupPage.tsx
Labels: enhancement, frontend

#104 [fix] change import file from Variable.scss to Variables.scss on Crea… #103
  frontend/src/styles/components/CreatePlaceCard.scss
Labels: bug

#97 implement search feature
  backend/route/tests.py
  backend/route/urls.py
  backend/route/views.py
Labels: enhancement, backend, test

#106 Delete folder on UserInfo resolves #100
  frontend/src/containers/UserInfo.tsx
  frontend/src/static/delete-icon.svg
  frontend/src/static/edit-icon.svg
  frontend/src/store/User/userAction.ts
  frontend/src/store/User/userInterfaces.ts
  frontend/src/store/User/userReducer.ts
  frontend/src/store/actionTypes.ts
  frontend/src/styles/components/Userinfo.scss
Labels: enhancement, frontend

#107 feat: add comment and like feature
  backend/route/migrations/0001_initial.py
  backend/route/migrations/0002_auto_20211108_2022.py
  backend/route/migrations/0003_alter_post_table.py
  backend/route/migrations/0004_auto_20211109_2211.py
  backend/route/migrations/0005_auto_20211110_1654.py
  backend/route/migrations/0006_place_index.py
  backend/route/models.py
  backend/route/tests.py
  backend/route/views.py
  frontend/src/components/Place.tsx
  frontend/src/containers/PostDetail.tsx
  frontend/src/hooks/usePostState.tsx
  frontend/src/hooks/usePostsState.tsx
  frontend/src/static/comment-icon.svg
  frontend/src/static/hover-delete-icon.svg
  frontend/src/static/like-icon.svg
  frontend/src/static/unlike-icon.svg
  frontend/src/store/Post/postAction.ts
  frontend/src/store/Post/postInterfaces.ts
  frontend/src/store/Post/postReducer.ts
  frontend/src/store/actionTypes.ts
  frontend/src/styles/components/PostDetail.css
  frontend/src/styles/components/PostDetail.css.map
  frontend/src/styles/components/PostDetail.scss
Labels: frontend, backend

#109 Add and edit features on folder modal resolves #108
  frontend/src/containers/PostDetail.tsx
  frontend/src/store/User/userAction.ts
  frontend/src/store/User/userInterfaces.ts
  frontend/src/store/User/userReducer.ts
  frontend/src/store/actionTypes.ts
Labels: enhancement, frontend

#111 Implement search feature
  backend/route/views.py
  frontend/src/components/Place.tsx
  frontend/src/containers/PostDetail.tsx
  frontend/src/containers/Search.tsx
  frontend/src/containers/SearchResultList.tsx
  frontend/src/hooks/usePostState.tsx
  frontend/src/hooks/usePostsState.tsx
  frontend/src/static/search.svg
  frontend/src/store/Post/postAction.ts
  frontend/src/store/Post/postInterfaces.ts
  frontend/src/store/Post/postReducer.ts
  frontend/src/store/actionTypes.ts
  frontend/src/styles/components/CreateEditPost.css
  frontend/src/styles/components/CreateEditPost.css.map
  frontend/src/styles/components/CreatePlaceCard.css
  frontend/src/styles/components/CreatePlaceCard.css.map
  frontend/src/styles/components/MyRoutesSection.css
  frontend/src/styles/components/MyRoutesSection.css.map
  frontend/src/styles/components/PlaceSearchSection.css
  frontend/src/styles/components/PlaceSearchSection.css.map
  frontend/src/styles/components/Search.css
  frontend/src/styles/components/Search.css.map
  frontend/src/styles/components/Search.scss
  frontend/src/styles/components/Userinfo.css
  frontend/src/styles/components/Userinfo.css.map
  frontend/src/styles/reset.css.map
Labels: enhancement, frontend, backend

#116 implement sorting
  backend/route/views.py
  frontend/src/containers/Search.tsx
  frontend/src/hooks/usePostState.tsx
  frontend/src/hooks/usePostsState.tsx
  frontend/src/store/Post/postAction.ts
  frontend/src/store/Post/postInterfaces.ts
  frontend/src/store/Post/postReducer.ts
  frontend/src/styles/components/Search.scss
Labels: enhancement, frontend, backend

#120 Feat/modify user info resolves #113
  backend/account/urls.py
  backend/account/views.py
  frontend/package-lock.json
  frontend/src/components/BasicUserInfo.tsx
  frontend/src/components/PostHeader.tsx
  frontend/src/containers/MyPage.tsx
  frontend/src/containers/PostDetail.tsx
  frontend/src/containers/UserInfo.tsx
  frontend/src/hooks/useFolderState.tsx
  frontend/src/hooks/useUserState.tsx
  frontend/src/pages/UserInfoPage.tsx
  frontend/src/store/Post/postInterfaces.ts
  frontend/src/store/User/userInterfaces.ts
  frontend/src/store/User/userReducer.ts
  frontend/src/styles/components/BasicUserInfo.css
  frontend/src/styles/components/BasicUserInfo.css.map
  frontend/src/styles/components/BasicUserInfo.scss
  frontend/src/styles/components/EditProfile.css
  frontend/src/styles/components/EditProfile.css.map
  frontend/src/styles/components/PostDetail.css
  frontend/src/styles/components/PostDetail.css.map
  frontend/src/styles/components/PostDetail.scss
  frontend/src/styles/components/PostHeader.css
  frontend/src/styles/components/PostHeader.css.map
  frontend/src/styles/components/PostHeader.scss
  frontend/src/styles/components/Userinfo.css
  frontend/src/styles/components/Userinfo.scss
  frontend/src/useUserState.tsx
Labels: frontend, backend

#119 feat: enhance PostDetailPage feature(header, likes, comments)
  backend/account/views.py
  backend/route/views.py
  backend/tripick/settings.py
  frontend/src/components/PostHeader.tsx
  frontend/src/containers/PostDetail.tsx
  frontend/src/containers/UserInfo.tsx
  frontend/src/static/created-at-icon.svg
  frontend/src/store/Post/postInterfaces.ts
  frontend/src/styles/components/PostDetail.css
  frontend/src/styles/components/PostDetail.css.map
  frontend/src/styles/components/PostDetail.scss
  frontend/src/styles/components/PostHeader.css
  frontend/src/styles/components/PostHeader.css.map
  frontend/src/styles/components/PostHeader.scss
Labels: enhancement, frontend

#128 Feat/postitem
  backend/account/views.py
  frontend/src/Variables/Variables.scss
  frontend/src/components/BasicUserInfo.tsx
  frontend/src/components/PostHeader.tsx
  frontend/src/components/PostItem.tsx
  frontend/src/containers/EditProfile.tsx
  frontend/src/containers/MyPage.tsx
  frontend/src/containers/Search.tsx
  frontend/src/containers/UserInfo.tsx
  frontend/src/store/Post/postAction.ts
  frontend/src/store/Post/postInterfaces.ts
  frontend/src/store/Post/postReducer.ts
  frontend/src/styles/components/BasicUserInfo.css
  frontend/src/styles/components/BasicUserInfo.css.map
  frontend/src/styles/components/BasicUserInfo.scss
  frontend/src/styles/components/EditProfile.css
  frontend/src/styles/components/EditProfile.css.map
  frontend/src/styles/components/EditProfile.scss
  frontend/src/styles/components/MyPage.css
  frontend/src/styles/components/MyPage.css.map
  frontend/src/styles/components/MyPage.scss
  frontend/src/styles/components/PostDetail.css
  frontend/src/styles/components/PostDetail.css.map
  frontend/src/styles/components/PostDetail.scss
  frontend/src/styles/components/PostHeader.css
  frontend/src/styles/components/PostHeader.css.map
  frontend/src/styles/components/PostHeader.scss
  frontend/src/styles/components/PostItem.css
  frontend/src/styles/components/PostItem.css.map
  frontend/src/styles/components/PostItem.scss
  frontend/src/styles/components/Search.css
  frontend/src/styles/components/Search.css.map
  frontend/src/styles/components/Userinfo.css
  frontend/src/styles/components/Userinfo.css.map
  frontend/src/styles/components/Userinfo.scss
Labels: frontend

#124 Feat/create edit post
  backend/route/forms.py
  backend/route/views.py
  frontend/.eslintrc.js
  frontend/package.json
  frontend/src/components/CreateEditHeader.tsx
  frontend/src/components/CreatePlaceCard.tsx
  frontend/src/components/FolderList.tsx
  frontend/src/components/Map.tsx
  frontend/src/components/MyRoutesSection.tsx
  frontend/src/components/Path.tsx
  frontend/src/components/PlaceSearchSection.tsx
  frontend/src/containers/CreateEditPost.tsx
  frontend/src/containers/PostDetail.tsx
  frontend/src/containers/SelectFolderModal.tsx
  frontend/src/pages/CreateEditPostPage.tsx
  frontend/src/setupProxy.js
  frontend/src/static/arrow_down.svg
  frontend/src/static/delete.svg
  frontend/src/static/edit_complete_icon.svg
  frontend/src/store/Post/postAction.ts
  frontend/src/store/Post/postInterfaces.ts
  frontend/src/store/User/userAction.ts
  frontend/src/store/actionTypes.ts
  frontend/src/styles/components/CreatePlaceCard.scss
  frontend/src/styles/components/MyRoutesSection.scss
  frontend/src/styles/components/Path.scss
  frontend/src/styles/components/SelectFolderModal.scss
  frontend/src/utils/returnPathTime.ts
  frontend/yarn.lock
Labels: enhancement, frontend, backend

#142 Feat/sync create detail post
  frontend/src/components/Place.tsx
  frontend/src/containers/CreateEditPost.tsx
  frontend/src/containers/PostDetail.tsx
  frontend/src/store/Post/postAction.ts
  frontend/src/store/Post/postReducer.ts
Labels: enhancement, frontend

#138 Show posts and places in folder on MyPage resolves #132
  backend/account/views.py
  frontend/src/components/PlaceItem.tsx
  frontend/src/containers/MyPage.tsx
  frontend/src/store/Post/postInterfaces.ts
  frontend/src/styles/components/MyPage.css
  frontend/src/styles/components/MyPage.css.map
  frontend/src/styles/components/MyPage.scss
  frontend/src/styles/components/PlaceItem.css
  frontend/src/styles/components/PlaceItem.css.map
  frontend/src/styles/components/PlaceItem.scss
Labels: enhancement, frontend, backend

#145 Hotfix/css
  frontend/src/components/CreateEditHeader.tsx
  frontend/src/components/PostHeader.tsx
  frontend/src/containers/CreateEditPost.tsx
  frontend/src/styles/components/BasicUserInfo.css
  frontend/src/styles/components/BasicUserInfo.css.map
  frontend/src/styles/components/Search.css
  frontend/src/styles/components/Search.css.map
  frontend/src/styles/components/Search.scss
  frontend/src/styles/reset.css
  frontend/src/styles/reset.css.map
  frontend/src/styles/reset.scss
Labels: bug, frontend

#146 [fix] dismiss SelectFolderModal when certain folder is selected in Cr…
  frontend/src/pages/CreateEditPostPage.tsx
Labels: bug, frontend

#149 Implement sharing post
  backend/account/views.py
  backend/route/tests.py
  backend/route/views.py
  frontend/src/components/PostHeader.tsx
  frontend/src/components/PostItem.tsx
  frontend/src/containers/MyPage.tsx
  frontend/src/containers/PostDetail.tsx
  frontend/src/containers/Search.tsx
  frontend/src/containers/UserInfo.tsx
  frontend/src/store/Post/postInterfaces.ts
  frontend/src/styles/components/PostHeader.css
  frontend/src/styles/components/PostHeader.css.map
  frontend/src/styles/components/PostHeader.scss
  frontend/src/styles/components/Userinfo.css
  frontend/src/styles/components/Userinfo.css.map
  frontend/src/styles/components/Userinfo.scss
Labels: enhancement, frontend, backend

#150 feat: CreateEditPostPage dnd action
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CreatePlaceCard.tsx
  frontend/src/components/MyRoutesSection.tsx
  frontend/src/components/PlaceSearchSection.tsx
  frontend/src/containers/CreateEditPost.tsx
  frontend/src/containers/MyPage.tsx
  frontend/src/containers/Search.tsx
  frontend/src/index.tsx
  frontend/src/store/Post/postAction.ts
  frontend/src/store/Post/postInterfaces.ts
  frontend/src/store/Post/postReducer.ts
  frontend/src/styles/components/MyRoutesSection.css
  frontend/src/styles/components/PlaceSearchSection.css
  frontend/src/styles/components/PlaceSearchSection.scss
  frontend/src/utils/items.ts
  frontend/yarn.lock
Labels: frontend
