Repository swsnu/swpp2021-team4, pull requests merged in 2021-12, with the labels that each got.

#154 Hotfix/post header
  frontend/src/components/PostHeader.tsx
  frontend/src/styles/components/PostHeader.css
  frontend/src/styles/components/PostHeader.css.map
  frontend/src/styles/components/PostHeader.scss
  frontend/yarn.lock
Labels: bug, frontend

#160 Feat/create path object
  backend/route/forms.py
  backend/route/migrations/0002_place_kakao_id.py
  backend/route/models.py
  backend/route/tests.py
  backend/route/views.py
  frontend/.eslintrc.js
  frontend/src/components/CreatePlaceCard.tsx
  frontend/src/components/MyRoutesSection.tsx
  frontend/src/components/Path.tsx
  frontend/src/containers/CreateEditPost.tsx
  frontend/tsconfig.json
Labels: enhancement, frontend

#158 Edit place description
  frontend/src/components/CreatePlaceCard.tsx
  frontend/src/components/MyRoutesSection.tsx
  frontend/src/components/PlaceSearchSection.tsx
  frontend/src/containers/CreateEditPost.tsx
  frontend/src/containers/SelectFolderModal.tsx
  frontend/src/styles/components/BasicUserInfo.css
  frontend/src/styles/components/BasicUserInfo.css.map
  frontend/src/styles/components/CreatePlaceCard.css
  frontend/src/styles/components/CreatePlaceCard.css.map
  frontend/src/styles/components/CreatePlaceCard.scss
  frontend/src/styles/components/MyRoutesSection.css
  frontend/src/styles/components/MyRoutesSection.css.map
  frontend/src/styles/components/NavBar.css
  frontend/src/styles/components/Path.css
  frontend/src/styles/components/Path.css.map
  frontend/src/styles/components/PlaceSearchSection.css
  frontend/src/styles/components/PlaceSearchSection.css.map
  frontend/src/styles/components/PlaceSearchSection.scss
  frontend/src/styles/components/PostDetail.css
  frontend/src/styles/components/Search.css
  frontend/src/styles/components/Search.css.map
  frontend/src/styles/components/Search.scss
  frontend/src/styles/components/SelectFolderModal.css
  frontend/src/styles/components/SelectFolderModal.css.map
  frontend/src/styles/components/SelectFolderModal.scss
Labels: frontend

#169 test: mockStore & PostDetail container test
  .travis.yml
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/BasicUserInfo.test.tsx
  frontend/src/components/BasicUserInfo.tsx
  frontend/src/components/Footer.test.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Place.tsx
  frontend/src/components/PlaceItem.test.tsx
  frontend/src/components/PostHeader.test.tsx
  frontend/src/components/PostHeader.tsx
  frontend/src/components/PostItem.test.tsx
  frontend/src/containers/PostDetail.test.tsx
  frontend/src/containers/PostDetail.tsx
  frontend/src/containers/Search.tsx
  frontend/src/index.tsx
  frontend/src/pages/EditProfilePage.test.tsx
  frontend/src/pages/MainPage.test.tsx
  frontend/src/pages/PostDetailPage.test.tsx
  frontend/src/pages/SigninPage.test.tsx
  frontend/src/pages/SignupPage.test.tsx
  frontend/src/pages/SignupPage.tsx
  frontend/src/pages/UserInfoPage.tsx
  frontend/src/serviceWorker.js
  frontend/src/setupTests.js
  frontend/src/store/Post/postInterfaces.ts
  frontend/src/store/store.ts
  frontend/src/styles/components/BasicUserInfo.css
  frontend/src/styles/components/BasicUserInfo.scss
  frontend/src/test-utils/mocks.ts
  frontend/yarn.lock
Labels: frontend, test

#172 Feat/create post place
  frontend/src/components/CreatePlaceCard.tsx
  frontend/src/components/MyRoutesSection.tsx
  frontend/src/components/PlaceSearchSection.tsx
  frontend/src/containers/CreateEditPost.tsx
  frontend/src/styles/components/MyRoutesSection.css
  frontend/src/styles/components/MyRoutesSection.css.map
  frontend/src/styles/components/MyRoutesSection.scss
Labels: enhancement, frontend

#171 Feat/post edit delete
  backend/route/views.py
  frontend/src/components/CreateEditHeader.tsx
  frontend/src/components/PostHeader.tsx
  frontend/src/containers/CreateEditPost.tsx
  frontend/src/containers/PostDetail.tsx
  frontend/src/pages/CreateEditPostPage.tsx
  frontend/src/store/Post/postAction.ts
  frontend/src/store/Post/postInterfaces.ts
  frontend/src/store/Post/postReducer.ts
  frontend/src/store/actionTypes.ts
  frontend/src/styles/components/PostHeader.css
  frontend/src/styles/components/PostHeader.scss
Labels: enhancement, frontend

#147 [test] UserInfo
  frontend/package.json
  frontend/src/components/Place.test.tsx
  frontend/src/components/PostHeader.tsx
  frontend/src/containers/EditProfile.test.tsx
  frontend/src/containers/EditProfile.tsx
  frontend/src/containers/MyPage.test.tsx
  frontend/src/containers/UserInfo.test.tsx
  frontend/src/containers/UserInfo.tsx
  frontend/src/index.tsx
  frontend/src/pages/UserInfoPage.test.tsx
  frontend/src/styles/components/BasicUserInfo.css
  frontend/src/styles/components/BasicUserInfo.css.map
  frontend/src/styles/components/BasicUserInfo.scss
  frontend/src/styles/components/EditProfile.css
  frontend/src/styles/components/EditProfile.css.map
  frontend/src/styles/components/EditProfile.scss
Labels: test

#179 Feat/location
  frontend/package.json
  frontend/src/components/CreateEditHeader.tsx
  frontend/src/containers/CreateEditPost.tsx
  frontend/src/containers/Search.tsx
  frontend/src/styles/components/CreateEditHeader.css
  frontend/src/styles/components/CreateEditHeader.css.map
  frontend/src/styles/components/CreateEditHeader.scss
  frontend/src/styles/components/MyRoutesSection.css.map
  frontend/src/styles/components/PostHeader.css.map
  frontend/src/styles/components/Search.css
  frontend/src/styles/components/Search.css.map
  frontend/src/styles/components/Search.scss
  frontend/src/utils/locations.ts
Labels: enhancement, frontend

#185 feat: add Router components depending on logged in
  frontend/src/App.tsx
  frontend/src/components/PostHeader.tsx
  frontend/src/components/PostItem.tsx
  frontend/src/containers/PostDetail.tsx
  frontend/src/containers/UserInfo.test.tsx
Labels: enhancement, frontend

#191 Modify design on create
  frontend/src/components/CreatePlaceCard.tsx
  frontend/src/components/MyRoutesSection.tsx
  frontend/src/components/PlaceSearchSection.tsx
  frontend/src/static/add.svg
  frontend/src/static/remove.svg
  frontend/src/styles/components/CreateEditPost.css
  frontend/src/styles/components/CreateEditPost.css.map
  frontend/src/styles/components/CreateEditPost.scss
  frontend/src/styles/components/CreatePlaceCard.css
  frontend/src/styles/components/CreatePlaceCard.css.map
  frontend/src/styles/components/CreatePlaceCard.scss
  frontend/src/styles/components/Footer.css
  frontend/src/styles/components/Footer.css.map
  frontend/src/styles/components/MyRoutesSection.css
  frontend/src/styles/components/MyRoutesSection.css.map
  frontend/src/styles/components/Path.css
  frontend/src/styles/components/Path.css.map
  frontend/src/styles/components/Path.scss
  frontend/src/styles/components/ServiceInfo.css
  frontend/src/styles/components/ServiceInfo.css.map
Labels: enhancement, frontend

#195 Modify MyPage
  frontend/src/components/CreateEditHeader.tsx
  frontend/src/components/PlaceItem.tsx
  frontend/src/components/PostHeader.tsx
  frontend/src/components/PostItem.tsx
  frontend/src/containers/CreateEditPost.tsx
  frontend/src/containers/MyPage.tsx
  frontend/src/containers/PostDetail.test.tsx
  frontend/src/containers/Signup.tsx
  frontend/src/static/png/default-thumbnail.png
  frontend/src/styles/components/MyPage.css
  frontend/src/styles/components/MyPage.css.map
  frontend/src/styles/components/MyPage.scss
  frontend/src/styles/components/PlaceItem.css
  frontend/src/styles/components/PlaceItem.css.map
  frontend/src/styles/components/PlaceItem.scss
  frontend/src/styles/components/PostHeader.css
  frontend/src/styles/components/PostHeader.css.map
  frontend/src/styles/components/PostHeader.scss
  frontend/src/styles/components/PostItem.css
  frontend/src/styles/components/PostItem.css.map
  frontend/src/styles/components/PostItem.scss
  frontend/src/styles/components/Userinfo.css
  frontend/src/styles/components/Userinfo.css.map
  frontend/src/styles/components/Userinfo.scss
Labels: enhancement, frontend

#193 fix/CreateEditPost
  frontend/src/components/CreateEditHeader.tsx
  frontend/src/components/Path.tsx
  frontend/src/components/PlaceSearchSection.tsx
  frontend/src/containers/CreateEditPost.tsx
  frontend/src/styles/components/Path.css
  frontend/src/styles/components/Path.css.map
  frontend/src/styles/components/Path.scss
  frontend/src/styles/components/SelectFolderModal.css
  frontend/src/styles/components/SelectFolderModal.css.map
  frontend/src/styles/components/SelectFolderModal.scss
Labels: bug

#211 complete PlaceItem & PostItem test codes
  frontend/src/components/PlaceItem.test.tsx
  frontend/src/components/PostItem.test.tsx
Labels: test

#213 Modify service info and footer
  frontend/src/components/Footer.tsx
  frontend/src/components/ServiceInfo.test.tsx
  frontend/src/components/ServiceInfo.tsx
  frontend/src/containers/EditProfile.tsx
  frontend/src/containers/ServiceInfo.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/styles/components/EditProfile.css
  frontend/src/styles/components/EditProfile.css.map
  frontend/src/styles/components/EditProfile.scss
  frontend/src/styles/components/Footer.css
  frontend/src/styles/components/Footer.css.map
  frontend/src/styles/components/Footer.scss
  frontend/src/styles/components/ServiceInfo.css
  frontend/src/styles/components/ServiceInfo.css.map
  frontend/src/styles/components/ServiceInfo.scss
  frontend/src/styles/components/Userinfo.css
  frontend/src/styles/components/Userinfo.css.map
  frontend/src/styles/components/Userinfo.scss
  frontend/src/styles/reset.scss
Labels: enhancement

#208 feat/ change base routes in CreateEditPostPage
  backend/route/views.py
  frontend/src/App.tsx
  frontend/src/Variables/Variables.scss
  frontend/src/components/CreatePlaceCard.tsx
  frontend/src/components/Map.tsx
  frontend/src/components/MyRoutesSection.tsx
  frontend/src/components/Path.tsx
  frontend/src/components/SelectRouteModal.tsx
  frontend/src/containers/CreateEditPost.tsx
  frontend/src/containers/PostDetail.tsx
  frontend/src/pages/CreateEditPostPage.tsx
  frontend/src/static/close-modal-icon.svg
  frontend/src/static/route-select-icon-hover.svg
  frontend/src/static/route-select-icon.svg
  frontend/src/styles/components/CreateEditPost.css
  frontend/src/styles/components/CreateEditPost.css.map
  frontend/src/styles/components/CreateEditPost.scss
  frontend/src/styles/components/Map.css
  frontend/src/styles/components/Map.css.map
  frontend/src/styles/components/Map.scss
  frontend/src/styles/components/PlaceSearchSection.css
  frontend/src/styles/components/PlaceSearchSection.css.map
  frontend/src/styles/components/PlaceSearchSection.scss
  frontend/src/styles/components/PostHeader.css.map
  frontend/src/styles/components/PostHeader.scss
  frontend/src/styles/components/SelectRouteModal.css
  frontend/src/styles/components/SelectRouteModal.css.map
  frontend/src/styles/components/SelectRouteModal.scss
Labels: enhancement, help wanted, frontend

#216 hotfix: dnd path problem
  frontend/src/components/MyRoutesSection.tsx
  frontend/src/containers/Signin.tsx
  frontend/src/styles/components/PlaceSearchSection.css.map
  frontend/src/styles/components/PostDetail.css
  frontend/src/styles/components/PostDetail.css.map
  frontend/src/styles/components/PostDetail.scss
  frontend/src/styles/components/Search.css.map
  frontend/src/styles/components/Signin.css
  frontend/src/styles/components/Signin.css.map
  frontend/src/styles/components/Signin.scss
  frontend/src/styles/components/Signup.css
  frontend/src/styles/components/Signup.css.map
  frontend/src/styles/components/Signup.scss
  frontend/src/styles/reset.scss
Labels: frontend

#218 test/SelectFolderModal container
  frontend/src/components/FolderList.tsx
  frontend/src/containers/SelectFolderModal.test.tsx
  frontend/src/containers/SelectFolderModal.tsx
  frontend/src/hooks/useFolderState.tsx
Labels: test

#222 Implement test of SelectRouteModal.tsx
  frontend/src/components/SelectRouteModal.test.tsx
  frontend/src/containers/CreateEditPost.tsx
  frontend/src/test-utils/mocks.ts
Labels: test

#228 test CreatePlaceCard
  frontend/package.json
  frontend/src/components/CreatePlaceCard.test.tsx
  frontend/src/components/CreatePlaceCard.tsx
Labels: test

#229 Create test MyRoutesSection
  frontend/package.json
  frontend/src/components/MyRoutesSection.test.tsx
Labels: test
